.Event {
    padding: 0 15px;
    color:rgba(0, 0, 0, 0.87);
    width: 100%;
    border:0;
    display: flex;
    flex-direction: column;
    font-size:.875rem;
    background: #ffffff;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    margin-bottom:30px;
    border-radius: 6px;
}
.Event__top {
    padding:10px 0 0 0; 
    text-align: right;  
}
.Event__top-code {
    float: left;
    padding:8px 25px;
    margin-top: -22px;
    border-radius: 2px;
    color:#ffffff;
    font-weight: 600;
}
.Event__top-code.k{
    background: linear-gradient(60deg, #26c6da, #00acc1);
    box-shadow: 0 12px 20px -10px rgba(0, 188, 212, 0.28),
        0 4px 20px 0px rgba(0, 0, 0, 0.12),
        0 7px 8px -5px rgba(0, 188, 212, 0.2);
}
.Event__top-code.r{
    background: linear-gradient(60deg, #ffa726, #fb8c00);
    box-shadow: 0 12px 20px -10px rgba(255, 152, 0, 0.28),
        0 4px 20px 0px rgba(0, 0, 0, 0.12),
        0 7px 8px -5px rgba(255, 152, 0, 0.2);
}
.Event__top-code.m,
.Event__top-code.a{
    background: linear-gradient(60deg, #66bb6a, #43a047);
    box-shadow: 0 12px 20px -10px rgba(76, 175, 80, 0.28),
        0 4px 20px 0px rgba(0, 0, 0, 0.12),
        0 7px 8px -5px rgba(76, 175, 80, 0.2);
}
.Event__top-fav i {
    cursor: pointer;
    font-size: 1.2em;
}
.Event__top-fav i.selected {
    color: rgb(252, 172, 0);
    text-shadow: 0px 1px 1px #ffffff, 0 0 0 #666666, 1px 4px 6px transparent;
}
.Event__top-fav i.not {
    color: rgba(192, 192, 192, 0.2);
    text-shadow: 0px 2px 2px #ffffff, 0 0 0 #333333, 1px 4px 6px transparent;
}

.Event__bottom {
    padding:0 0 10px 0; 
}
.Event__bottom-categories {
    border-top: 1px solid #eee;
    display: flex;
    flex-wrap: wrap;
    margin:  0;
    padding: 5px 0 0 0;
}
.Event__bottom-categories li {
    list-style-type: none;
    margin-right: 15px;
}